@import '../../styles/common/variable.scss';
@import '../../styles/global.scss';

.login-bg-div {
  height: 100vh;
}
.login-logo {
  width: 40%;
}
.login-left-side {
  .graphic-bg-grid {
    background: #de4f61;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .login-left-text {
    font-size: 3.175rem;
  }
  .login-graphic {
    width: 100%;
  }
}

.graphic-typo {
  padding-bottom: 3em;
}
.graphic-grid {
  display: flex;
  justify-content: flex-end;
}
.logo-grid {
  display: flex;
  justify-content: flex-end;
}
.loginform-grid {
  margin: 3em;
}
.signin-secondary-text {
  color: $dark-color;
}
.login-textbox {
  width: 100%;
}

.loginBtn {
  width: 100%;
  // border-radius: 50px !important;
  background: #de4f61 !important;
  color: #fff !important;
  // float: right;
  &:hover {
    background-color: $primary-btn-hover;
  }
}

.login-signin-div {
  text-align: center;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(0deg, #f5f5f5 50%, gainsboro 50%);

  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }
  .dark-text {
    color: #000;
    font-weight: bold;
    span {
      color: $primary-color;
    }
  }
}

.signup-link{
  margin: 1em;
  padding: 1em;
  float: right;
  a{
    color:$primary-color;
    text-decoration: none;
  }
}