$primary-color: #5271FF;
$secondary-color: #653889;
$tertiary-color: #f1ba4b;
$success-color: #00ab55;

$focus-color: #444054;
$danger-color: #da4150;
$light-color: #de4f61;
$dark-color: #5c5c5c;

$side-bar-color: #546e7a;
$secondary-text: #de4f61;

$focus-color-opacity: rgba(68, 64, 84, 0.9);
$dark-color-opacity: rgba(52, 58, 64, 0.8);
$primary-color-opacity: rgba(85, 92, 215, 0.8);
$header-background: #ffffff;

$bg-color: rgba(224, 224, 224, 1);

$white-color: #fff;
$black-color: #000;

$primary-table-header: #de4f61;
//$table-content: rgba(224, 224, 224, .84);

$primary-btn: #5271FF;
$primary-btn-hover: #59b7ff;

$success-btn: #00ab55;
$success-btn-hover: #0bc163;
