.dash-msg-box{
    padding: 1em;
    // background-color: #;
    background: #FFE3D5 !important;
    img{
        width: 172px;
    }
}
.dash-carousal-box{
    padding: 1em;
    min-height: 175px;
    margin-left: 0.5em ;
}
.dash-refer-form{
    padding: 1em;
}