
.paper{
    border: 2px solid #109de7!important;
}
.field-textbox{
    margin-top: 0px!important;
    width: 100%;
    fieldset{
        border: 1px solid #109de7!important;
    }

}
.title{
    text-align: left;
    color: #109de7;
}